@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="d-flex justify-content-center align-items-center flex-column" style="height: 60vh;">
        <h4 class="mb-3">Please select a section to manage the related information:</h4>
        <div class="d-flex gap-3 flex-wrap justify-content-center">
            @Html.ActionLink("Course", "Index", "Course", null, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Batch", "Index", "Batch", null, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Registration", "Index", "Registration", null, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("User", "Index", "User", null, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
</div>
